/* nav start */
.header-nav {
  padding: 0.8rem 15rem 1.5rem 9rem;
  min-height: 73px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* note */
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; */
  /* note */
}
.pas-logo {
  width: 152px;
  height: 69px;
}
a {
  color: #212326 !important;
}
a:hover {
  color: #e25052 !important;
  text-decoration: underline !important;
}
/* nav end */

/* journey start ------  */
.journey-div {
  background-color: #212326;
}
.journey-text-div {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
/* journey end ------  */

.container {
  max-width: 1248px;
  margin: auto;
  display: flex;
  padding: 5rem 0;
}

.left-content {
  width: 50%;
}

.right-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .left-content {
    width: 100%;
    text-align: center;
  }
  .right-content {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}
/* below nav end */
